.chat-section {
  flex: 1;
  display: flex;

  .with-chat {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chat-user-detail {
      background: var(--light-gray);
      height: 60px;
      width: 100%;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      .user-info {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .username {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 16px;
            color: #111b21;
            font-style: normal;
            font-weight: normal;
          }

          p {
            font-size: 13px;
            color: #667781;
          }
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .chat-content {
      flex: 1;
      background-image: url("/images/chat-bg.png");
      background-position: center;
      object-fit: cover;
      padding-bottom: 12px;
      overflow-y: auto;

      .message-item {
        padding: 0 63px;
        margin-top: 8px;
        display: flex;

        .content {
          position: relative;
          background-color: #ffffff;
          max-width: 65%;
          width: fit-content;
          padding: 6px 7px 8px 9px;
          border-radius: 6px;
          font-size: 14.2px;
          display: flex;
          gap: 6px;

          &.own {
            background-color: #d9fdd3;
            margin-left: auto;
          }

          .detail {
            display: flex;
            align-items: flex-end;
            color: #667781;
            text-wrap: nowrap;
            transform: translateY(4px);

            span {
              font-size: 11px;
              margin-right: 3px;
            }

            svg {
              width: 16px;
              height: 16px;
              transform: translateY(2px);
            }
          }

          .dropdown {
            position: absolute !important;
            top: 0 !important;
            right: 0 !important;
            z-index: 100;

            .wrapper {
              width: 170px;
            }

            .action {
              padding: 3px;
              border-radius: 50%;
              opacity: 0;
              pointer-events: none;
              transform: translateX(10px);
              cursor: pointer;

              svg {
                width: 20px;
                height: 20px;
                color: #667781;
              }

              &.show {
                opacity: 1;
                pointer-events: auto;
                transform: translateX(0);
                transition: opacity 0.3s, transform 0.15s;
              }
            }
          }
        }
      }
    }

    .create-text {
      padding: 9px 16px;
      background: var(--light-gray);
      display: flex;
      align-items: center;
      gap: 5px;
      color: #63737c;

      .emoji-picker-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .picker {
          position: absolute;
          bottom: 100%;
          margin-bottom: 20px;
          left: 10px;

          .EmojiPickerReact {
            z-index: 999;
          }
        }
      }

      .icon {
        padding: 8px;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      form {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          flex: 1;
          border-radius: 8px;
          border: none;
          outline: none;
          padding: 12px;
          font-size: 15px;
        }

        button {
          outline: none;
          border: none;
          color: #63737c;
          transition: all 0.3s;

          &:hover {
            color: #546269;
          }
        }
      }
    }
  }

  .without-chat {
    flex: 1;
    position: relative;
    background: var(--light-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 320px;
      height: 190px;
      object-fit: contain;
    }

    header {
      margin-top: 38px;

      h1 {
        color: #41525dd0;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: -0.025em;
      }

      p {
        color: #54656f;
        margin: 24px 0;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    button {
      background: #008069;
      color: #e7e5e5;
      padding: 12px 24px;
      font-size: 14px;
      border-radius: 24px;
      font-weight: 600;
    }

    footer {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      color: #54656fa1;
      font-size: 13px;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      svg {
        font-size: 10px;
      }
    }
  }

  .right-section {
    flex: 1;
    max-width: 480px;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;
      gap: 30px;
      height: 60px;
      padding: 10px 20px 10px 25px;
      background: var(--light-gray);
      border-left: 1px solid var(--border-gray);

      .close-icon {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          color: #54656f;
          width: 24px;
          height: 24px;
        }
      }

      .title {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: normal;
      }
    }
  }
}
