#left-section {
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;

  &.show {
    transform: translateX(0);
  }

  header {
    background: #008069;
    color: #ffffff;
    height: 111px;
    padding: 0 20px 0 23px;
    display: flex;
    align-items: end;

    .header-content {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      gap: 30px;

      h4 {
        font-size: 19px;
        font-weight: 500;
      }

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .content {
    height: calc(100% - 111px);
    overflow-y: auto;

    .new-chat-section {
      height: 100%;
      padding: 7px 12px;

      .search {
        background: var(--light-gray);
        padding: 7px 10px 7px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        border-radius: 6px;
        color: #3b4a54;

        .search-icon {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }

        input {
          flex: 1;
          background: transparent;
          font-size: 15px;
          color: #3b4a54;
          outline: none;
          border: none;
          letter-spacing: -0.025em;
        }

        .x-icon {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }

      h3 {
        padding: 30px 0 15px 20px;
        font-size: 16px;
        color: #008069;
        position: relative;
      }

      h3::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 80%;
        height: 1px;
        background-color: var(--border-gray);
      }

      .user {
        display: flex;
        gap: 15px;
        padding: 11px 0;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .texts {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            color: #111b21;
            font-size: 17px;
          }
          p {
            color: #667781;
            font-size: 14px;
          }
        }

        button {
          background-color: #008069;
          border-radius: 4px;
          color: #ffffff;
          padding: 0 1.5rem;
          font-size: 15px;
        }
      }
    }

    .profile {
      background-color: #f0f2f5;
      height: 100%;
      width: 100%;

      .avatar-container {
        padding: 28px 0;
        display: flex;
        justify-content: center;
        user-select: none;

        .avatar {
          position: relative;
          color: white;
          height: 200px;
          width: 200px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }

          .pp-overlay {
            position: absolute;
            inset: 0;
            z-index: 50;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: #54656fcc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 1;
            }

            svg {
              width: 24px;
              height: 24px;
              margin-bottom: 10px;
            }

            p {
              font-size: 13px;
              word-spacing: 0;
              text-align: center;
              font-weight: 100;
            }
          }
        }
      }

      .info {
        padding: 4px 30px 26px;
        color: #54656f;
        font-size: 14px;
        line-height: 1.5;
      }

      .editable-section {
        background-color: #ffffff;
        padding: 14px 30px 10px;
        margin-bottom: 10px;

        h3 {
          font-size: 14px;
          color: #008069;
          margin-bottom: 20px;
        }

        .edit {
          position: relative;
          display: flex;
          align-items: center;
          gap: 6px;

          input {
            background-color: transparent;
            outline: none;
            border: none;
            flex: 1;
            font-size: 16px;
            color: #3b4a54;
            outline: none;
            font-weight: 100;

            &.editable {
              font-size: 17px;
            }
          }

          .action {
            align-self: flex-start;
            display: flex;
            align-items: center;
            gap: 4px;
            color: gray;

            p {
              opacity: 0.5;
              font-size: 14px;
            }

            button {
              background-color: transparent !important;

              svg {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
        .bottom-line {
          width: 100%;
          height: 2px;
          background-color: #667781;
          margin: 4px 0;

          &.active {
            background-color: var(--main-green);
          }
        }
      }
    }
  }
}
